#maximage div {
    cursor: pointer;
}

@font-face {
    font-family: 'Minotaur';
    src: local('Minotaur Phatte'), url(../font/minotaur.ttf) format('truetype');
}

body {
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
    max-width: 128px;
    max-height: 128px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #222222;
}

.icon {
    position: fixed;
    width: 128px;
    height: 128px;
    bottom: 1rem;
}

.icon.right {
    right: 1rem;
}

.icon.left {
    left: 1rem;
}

.hide {
    display: none;
}

.list {
    margin: 5% auto;
    text-align: center;
}

.list .item {
    margin-bottom: 1rem;
}

.list .item img {
    width: 512px;
    border: 1px solid #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#magician h1 {
    color: #000000;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    font-family: "Minotaur", cursive;
    font-size: 70pt;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
}

#developer h1 {
    color: #ffffff;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    font-family: "Minotaur", monospace;
    font-size: 70pt;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.list .magician {
    color: #ffffff;
    font-family: "Minotaur", cursive;
    font-weight: normal;
}

.list .developer {
    color: #ffffff;
    font-family: "Minotaur", monospace;
    font-weight: bold;
}